.body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.bg-img{
    background-image: url('../public/images/bg-events.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.751);
    height: 100vh;
}


